:root{
    --darkBlue: #1f2937;
    --darkGreen: #596d48
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #f1f2f3;;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  @font-face {
      font-family: 'Norse Bold';
      src: url(Norse-Bold.otf);
  }

  main{
      display: flex;
      flex-direction: column;
      max-width: 1800px;
      margin: 0 auto;
  }
  
  header{
      height: 38vh;
      background-image: url('background.jpg');
      background-size: cover;
      position: relative;
      margin-bottom: 20px;
  }

  .logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
 }

  .logo{
    width: 101px;
  }

  h1{
      font-family: 'Norse Bold', sans-serif;
      display: inline-block;
      color: white;
  }

  .sign-up-form-wrapper{
      display: flex;
      flex-direction: column;
  }

  .sign-up-form-wrapper  .section-1{
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 15px;
  }

  .sign-up-form-wrapper .section-1 p:first-of-type{
    max-width: 30ch;
    margin: 0 auto 25px auto;
  }

  .sign-up-form-wrapper  .section-3 p{
    font-size: 17.7px;
    text-align: center;
}

  .sign-up-form-wrapper .section-3{
    padding: 34px;
  }

  #register-form{
      background-color: white;
      box-shadow: 1px 4px 9px rgba(153, 152, 152, 0.5);
      padding: 20px 20px 40px 20px;
  }

  .register-form-inputs > div{
      width: 264px;
      margin: 0 auto;
  }

  .register-form-inputs > div:not(:last-of-type){
    margin-bottom: 30px;
  }

  #register-form legend{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  #register-form label{
    font-size: 15px;
    color: var(--darkBlue);
    text-transform: uppercase;
    text-align: left;
}

  #register-form input{
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 19px;
    width: 264px;
    padding: 4px 6px;
  }

  .user-password{
    position: relative;
  }

  #register-form input:focus-visible{
    border: 1px solid blue;
    box-shadow: 3px 4px 12px rgb(165 162 162 / 60%);
    outline: none;
  }

  .sign-up-form-wrapper button{
      font-size: 18.3px;
      padding: 14px 58px;
      display: block;
      margin: 0 auto 35px auto;
      background-color: var(--darkGreen);
      color: white;
      border: none;
      border-radius: 12px;
  }

  .sign-up-form-wrapper a{
      color: var(--darkGreen);
      text-decoration: none;
  }

  #register-form input.error{
      border: 1px solid red;
  }

  .input-error-msg{
      color: red;
      position: absolute;
      font-size: 12px;
      top: 54px;
  }

  @media (min-width: 768px){
      main{
          flex-direction: row;
          min-height: 100vh;
      }

      header{
          height: unset;
          margin-bottom: unset;
          width: clamp(300px, 37vw, 800px);
      }

      .logo-wrapper{
        top: 15.4vw;
        padding: 20px;
      }

      .sign-up-form-wrapper{
          width: calc(100% - clamp(300px, 537px, 37vw));
      }

      .sign-up-form-wrapper .section-1{
        padding-top: 8.47vw;
      }

      #register-form legend{
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
      }

      .register-form-inputs{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .register-form-inputs div{
        display: inline-block;
        margin: unset;

      }
  }

  @media (min-width: 1069px){

    .register-form-inputs > div:not(:last-of-type){
        margin-bottom: 0;
    }

    .sign-up-form-wrapper .section-1 p:first-of-type{
        max-width: 48ch;
        margin: 0 0 25px 0;
      }

    .sign-up-form-wrapper{
        justify-content: center;
    }

    .sign-up-form-wrapper  .section-1{
        font-size: 23.3px;
        text-align: left;
        margin-bottom: unset;
        padding: 0px 0px 40px 40px;
    }

    #register-form{
        padding: 20px 20px 40px 40px;
    }

    #register-form legend{
        text-align: left;
      }

    .register-form-inputs{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 21px;
    }
    .register-form-inputs > div:nth-of-type(odd){
        margin-right: 68px;
    }

    .sign-up-form-wrapper button{
        margin: 0 0 35px 0;
    }

    .sign-up-form-wrapper  .section-3{
        padding: 34px 34px 0px 34px;
    }

    .sign-up-form-wrapper  .section-3 p{
        text-align: left;
    }
  }




